doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title

    h1 Scoreboard management for admins
    a.calltoaction__link(href='scoreboard') Go to scoreboard

    div#SignUp
        h3 New game
      form(action="/admin" method="post" name="inputForm")
        label Team 1: &nbsp;
        input(id="team1", placeholder="Belgium" name="team1" required)
        br
        label Team 2: &nbsp;
        input(id="team2", placeholder="Italy" name="team2" required)
        br

        button( type="submit" id="submit") Submit

        div.gameListAll
              each game, i in all_games
                    h3 #{game.team1} #{game.team1_score} - #{game.team2_score} #{game.team2}
                    h4 Fouls : #{game.team1_fouls} - #{game.team2_fouls}
                    h4 Shots : #{game.team1_shots} - #{game.team2_shots}
