doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')

    div.gameListAll

        input(id="score1",value="#{game.team1_score}",type="hidden" )
        input(id="score2",value="#{game.team2_score}",type="hidden" )
        input(id="fouls1",value="#{game.team1_fouls}",type="hidden" )
        input(id="fouls2",value="#{game.team2_fouls}",type="hidden" )
        input(id="shots1",value="#{game.team1_shots}",type="hidden" )
        input(id="shots2",value="#{game.team2_shots}",type="hidden" )

        div.intro
          h1.teams #{game.team1} - #{game.team2}
          div.mainscores
            h3#score1value #{game.team1_score}
            h3#score2value #{game.team2_score}


        div.fouls
          h1 Fouls
          div.foulscontent
            h3#fouls1value #{game.team1_fouls}
            h3#fouls2value #{game.team2_fouls}


        div.whitespace
        div.shots
          h1 Shots
          div.shotscontent
            h3#shots1value #{game.team1_shots}
            h3#shots2value #{game.team2_shots}

        div.comments
          h2 Live Comments

              #messages
              div.commentsListAll
                  each comment, i in all_comments
                    li #{comment.game_comment}




        script(src="http://localhost:3000/socket.io/socket.io.js")
        script(src="/javascripts/sockets.js")
        script(src="/javascripts/socket_comments.js")
